.main{
    background-color: #7ab8ff;
    padding: 50px;
}
.content{
    padding: 20px 50px 20px 50px;
    background-color: white;
    border-radius: 10px;
}
#items1{
    text-align: center;
    display: flex;
    align-items: flex-end;
}
.dopOption{
    padding: 20px 50px 20px 50px;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}
.book_input{
    text-align: right;
}
.add_remove_option{
    margin-top: 10px;
}
.row{
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    text-align: center;
}
.row > .move > .btn{
    background-color: rgba(0,0,0, 0.26);
    color: white;
    padding: 8px 24px;
    border: none;
}
.book_input > input{
    padding: 8px 36px;
}
.row h4{
    font-weight: bold;
}
@media screen and (max-width: 991px) {
    .row{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}
@media screen and (max-width: 435px) {
    .content {
        padding: 5px 8px 5px 8px;
    }
    .dopOption{
        padding: 5px 8px 5px 8px;
    }
    .main{
        padding: 15px;
    }

}